<link rel="stylesheet" href="/css/nav.css">
<div class="navbar">
    <div class="navbar-logo"><a href="/">PICTURE ALBUM</a></div>
    <ul class="navbar-menu">
        <li class="navbar-item">
            <a href="/albums" class="navbar-text">Album</a>
        </li>
        <li class="navbar-item">
            <a href="#" class="navbar-upload">Ladda upp</a>
        </li>
    </ul>
    <div id="hamburger-menu">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>

    <script src="/js/nav.js"></script>
</div>