<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/upload.css">
<div class="navbar">
    <div class="navbar-logo"><a href="/">PICTURE ALBUM</a></div>
    <ul class="navbar-menu">
        <li class="navbar-item">
            <a href="/albums" class="navbar-text">Album</a>
        </li>
        <li class="navbar-item">
            <a href="#" class="navbar-upload">Ladda upp</a>
        </li>
    </ul>
    <div id="hamburger-menu">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
</div>

<div class="upload-window">
    <div class="upload-content">
        <div class="close-upload">
            <img src="/close.svg" alt="">
        </div>
        <form class="form" action="/picture/upload" method="POST" enctype='multipart/form-data'>
            <label for="title-input" id="title">Titel</label>
            <input type="text" id="title-input" name="title" required>
            <label for="description-input" id="description">Beskrivning</label>
            <textarea name="description" id="description-input" cols="30" rows="10"></textarea>
            <div class="upload-container">
                <div class="upload-item" id="image-item-low-upload">
                    <p class="image-type">Låg upplösning</p>
                    <label class="custom-image-input" required>
                        <img src="/upload-image.svg" alt="">
                        <p>Välj bild</p>
                        <input type="file" name="image-low" class="image-input" id="image-input-low-upload" accept="image/png, image/jpeg" required>
                    </label>
                    <p class="upload-image-text">Ingen fil har valts</p>
                </div>
                <div class="upload-item" id="image-item-high-upload">
                    <p class="image-type">Hög upplösning</p>
                    <label class="custom-image-input" required>
                        <img src="/upload-image.svg" alt="">
                        <p>Välj bild</p>
                        <input type="file" name="image-high" class="image-input" id="image-input-high-upload" required>
                    </label>
                    <p class="upload-image-text">Ingen fil har valts</p>
                </div>
            </div>
            <p id="rating-text">Betygsätt bilden</p>
            <div class="upload-rating">
                <input type="radio" name="rating" value="5" id="five" required>
                <label for="five">
                    <svg class="star">
                        <use href="#star">
                    </svg>
                </label>
                <input type="radio" name="rating" value="4" id="four">
                <label for="four">
                    <svg class="star">
                        <use href="#star">
                    </svg>
                </label>
                <input type="radio" name="rating" value="3" id="three">
                <label for="three">
                    <svg class="star">
                        <use href="#star">
                    </svg>
                </label>
                <input type="radio" name="rating" value="2" id="two">
                <label for="two">
                    <svg class="star">
                        <use href="#star">
                    </svg>
                </label>
                <input type="radio" name="rating" value="1" id="one">
                <label for="one">
                    <svg class="star">
                        <use href="#star">
                    </svg>
                </label>
            </div>
            <div class="custom-select">
                <p>Välj albums</p>
                <select name="albums" multiple required>
                </select>
            </div>
            <input type="submit" id="submit-button" value="Ladda upp">
        </form>
        <div class="preview-image" id="preview-image-upload">
            <img src="/image-preview.svg" alt="">
        </div>
    </div>
</div>

<div class="star-source" style="display: none">
    <svg>
        <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%" y2="65.4921875%" id="grad">
           <stop stop-color="#bf209f" offset="0%"></stop>
           <stop stop-color="#d62a9d" offset="60%"></stop>
           <stop stop-color="#ED009E" offset="100%"></stop>
       </linearGradient>
   <symbol id="star" viewBox="153 89 106 108">   
     <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor" points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085"></polygon>
   </symbol>
</svg>
</div>

<script src="/js/nav.js"></script>
<script src="/js/upload.js"></script>