<!DOCTYPE html>
<html lang="en">
    <%- include('./components/nav.ejs') %>
    <link rel="stylesheet" href="/css/404.css">
<body>
    
    <div class="container">
        <h1>OOPS</h1>
        <h2><%= message %></h2>
    </div>

</body>
</html>