body {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: url('../background.jpg');
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /*Makes the content fill the remaining height. Need the space for deselecting picture-container when ctrl + click*/
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.3);
    height: 80px;
    min-height: 80px;
    width: 100%;
    z-index: 0;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30px;
    height: 100%;
    padding: 0 20px;
}

.back img {
    width: 60px;
    height: auto;
}

.title {
    position: absolute;
    font-size: 2rem;
    color: white;
    left: 50%;
    transform: translate(-50%, 0); /*Moving the title to the center*/
}

.tools {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    height: 100%;
    width: auto;
}

.tools div {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    margin: 0 10px;
    padding: 0 20px;
}

.tools div:hover {
    cursor: pointer;
    color: white;
}

.tools div:hover, .back:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.14), transparent 100%);
}

.presentation-button {
    visibility: hidden;
}

.album-content {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: overlay;
    z-index: 0;
    flex: 1;
}

.album-clickable {
    text-decoration: none;
    color: white;
    height: auto;
}

.picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.picture-container p {
    text-align: center;
    font-weight: bold;
    color: white;
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-container {
    background: rgb(172, 172, 172);
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 2px black;
    margin-top: 5px;
    box-sizing: border-box;
}

.image-container img {
    height:100%;
    width: 100%;
}

.image-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    transition: box-shadow .1s;
}

.image-container.selected {
    border: 3px solid blue;
}

/* Presentation */
.presentation-container {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #121213d2;
    z-index: 999;
}

.presentation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(78, 118, 65, 0.3);
    min-height: 50px;
    width: 100%;
    z-index: 0;
}

.presentation-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30px;
    height: 100%;
    padding: 0 20px;
}

.presentation-close img {
    width: 60px;
    height: auto;
}

.presentation-title {
    position: absolute;
    left: 50%;
    max-width: 500px;
    transform: translate(-50%, 0); /*Moving the title to the center*/
    font-size: 2rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.presentation-tools {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    height: 100%;
    width: auto;
    color: white;
    font-size: 20px;
}

.image-comment-icon {
    margin-right: 30px;
    padding: 7px;
}

.image-comment-icon:hover {
    cursor: pointer;
    color: rgb(170, 170, 170);
    text-decoration: underline;
}

.image-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 28vw;
    animation: topAnimation 0.3s;
    display: none;
    z-index: 998;
}

.image-text-box.active{
    display: block;
}

.image-text-box.active2 {
    border: 3px white solid;
    border-radius: 20px;
}

.image-text {
    font: italic 1.2em "Fira Sans", serif;
    position: relative;
    height: inherit;
    width: inherit;
    line-height: 30px;
    resize: none;
    background-color: rgb(24, 24, 24, 0.80);
    outline: none;
    border-radius: 20px;
    color: white;
}

.image-text-tools {
    position: relative;
    width: 100%;
    height: 40px;
}

.edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.edit-icon img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
}

.edit-icon:hover {
    color: gray;
}

.save-box {
    position: absolute;
    width: 75px;
    height: 40px;
    background-color: rgba(155, 155, 155, 0.5);
    bottom: 0;
    left: 0;
    color:white;
    display: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.save-box:hover {
    background-color: rgb(75, 75, 75);
}

@keyframes topAnimation {
    from {top: 40%;}
    to {top: 50%;}
}
.presentation-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.presentation-close:hover {
    cursor: pointer;
    background-color: rgba(141, 141, 141, .2);
}

.presentation-previous, .presentation-next {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: auto 50px;
    overflow: hidden;
}

.presentation-previous {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.presentation-next {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.presentation-previous:hover, .presentation-next:hover {
    cursor: pointer;
    background-color: rgba(141, 141, 141, .2);
}

.presentation-image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 650px) {
    
} 