body {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /*Makes the content fill the remaining height*/
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    overflow: hidden;
}

.close:hover {
    background-color: rgba(141, 141, 141, .2);
}

.close img {
 height: 100%;
 width: 100%;
}

.previous, .next {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: auto 50px;
    overflow: hidden;
}

.previous:hover, .next:hover {
    background-color: rgba(141, 141, 141, .2);
}

.image-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}