*{
    margin: 0;
    padding: 0;
}

.container{
    flex-direction: column;
    gap: 20px;
}

.downloadbtn{
    margin-bottom: 100px;
    margin-left: 2em;
}

.popup{
    position: relative;
    display: none;
}

.rectangle{
    position: absolute;
    width: 500px;
    height: 200px;
    left: -240px;
    background-color: red;
    border-radius: 2%;
    opacity: 0.5;
}

.rectangle{
    display: flex;
    flex-direction: column;
}

.rectangle h1{

    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    color: white;
    text-align: center;
}

.triangle{
    position: absolute;
    bottom: 0px;
    left: 175px;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 40px solid rgba(255, 0, 0, 0.5);
}

@keyframes moveR{
    from{
        height: 0px;
        left: -60px;
    }
    to{
        height: 200px;
        left: -240px;
    }
}   

@keyframes moveT {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.popup-toggle{
    display: block;
}

.popup-toggle .rectangle{
    animation-name: moveR;
    animation-delay: -1.25s;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

.popup-toggle .triangle{
    animation-name: moveT;  
    animation-iteration-count: 1;
    animation-duration: 2s;
}

.highRes:visited{
    color: white;
    text-decoration: none;
    text-align: center;
}

.highRes:visited h2{
    text-align: center;
}

.lowRes:visited{
    color: white;
    text-decoration: none;
    text-align: center; 
}

.highRes{
    color: white;
    text-decoration: none;
    text-align: center;
}

.lowRes{
    color: white;
    text-decoration: none;
    text-align: center;
}

a[padding-link]{
    padding: 20px;
}

h1[padding-title]{
    padding: 10px;
}
